body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    border-bottom: 1px solid #333;
}

.logo h1 {
    margin: 0;
    color: white;
}

.roop {
    color: red;
}

.tech {
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a.active {
    transition: 0.5s;
    box-shadow: 0 0 20px #00eeff;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}
nav a:hover {
    border: 500px;
    border-radius: 50px;
    padding: 5px;
    background-color: #ff0000;
    color: #ffffff;
  }

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 40px;
}

.contact-form, .contact-info {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    width: 45%;
}

.contact-form {
    border-color: white;
}

.contact-form h2, .contact-info h2 {
    margin-top: 0;
    color: white;
}

.contact-form form input, .contact-form form button {
    width: calc(100% - 20px);
    margin: 10px 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form form input {
    background-color: #333;
    color: white;
}

.contact-form form button {
    background-color: red;
    color: white;
    cursor: pointer;
}

.contact-info {
    border-color: purple;
}

.contact-info p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: red;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}
